
body {
    margin: 0;
    padding: 0;
    background: #f5f7fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    min-height: calc(100vh - 70px);
}


.content {
    flex: 1;
    padding: 30px 40px;
    background-color: #f5f7fa;
}


.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.page-title h2 {
    margin: 0;

    font-size: 22px;
    font-weight: 800;
    color: #1f2937;
    border-left: 4px solid #1f2937;
    padding-left: 12px;
    text-transform: uppercase;
}

.page-title p {
    margin-top: 6px;
    margin-left: 16px;
    font-size: 12px;
    color: #9ca3af;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


.top-action {
    display: flex;
    align-items: center;
}

.btn-back {
    background: #f97316 ;
    color: white !important;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(34, 160, 107, 0.2);
    border: none;
    cursor: pointer;
}

.btn-back:hover {
    background: #ea580c;
    transform: translateY(-2px);
}


.detail-wrapper {
    background: #ffffff;
    border-radius: 12px;
    padding: 25px;
    border: 1px solid #f0f0f0;
}

.detail-section { margin-bottom: 35px; }

.section-title {
    color: #334155;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #f8fafc;
    padding-bottom: 10px;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
}

.detail-table th {
    background: #f8fafc;
    color: #64748b;
    font-size: 11px;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

.detail-table td {
    padding: 15px;
    border-bottom: 1px solid #f1f5f9;
    font-size: 14px;
}

.info-table th {
    width: 200px;
    background: #fffaf5;
    color: #ea580c;
}

.result-img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}
.price-text{
    color: #1a8f5d;
}