<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.mycompany.catclinicproject.controller.clientcontroller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>com.mycompany.catclinicproject.controller.clientcontroller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistoryController</servlet-name>
        <servlet-class>com.mycompany.catclinicproject.controller.clientcontroller.BookingHistoryController</servlet-class>
    </servlet>
 

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
