<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NewController</servlet-name>
        <servlet-class>com.mycompany.catclinicproject.controller.NewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUsController</servlet-name>
        <servlet-class>com.mycompany.catclinicproject.controller.AboutUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load</servlet-name>
        <servlet-class>com.mycompany.catclinicproject.controller.load</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadHomePage</servlet-name>
        <servlet-class>com.mycompany.catclinicproject.controller.loadHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>com.mycompany.catclinicproject.controller.ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>veteController</servlet-name>
        <servlet-class>com.mycompany.catclinicproject.controller.veteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>adminController.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserByIDs</servlet-name>
        <servlet-class>adminController.DeleteUserByIDs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewController</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUsController</servlet-name>
        <url-pattern>/aboutUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadHomePage</servlet-name>
        <url-pattern>/loadinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>veteController</servlet-name>
        <url-pattern>/vete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>AdminDashboard.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>DeleteUserByIDs</servlet-name>
        <url-pattern>/deleteUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
